## Condition Statements

### Comparison Operators

<p>Comparison operations compare some value or operand and based on a condition, produce a Boolean. When comparing two values you can use these operators:</p>

<ul>
    <li>equal: <b>==</b></li>
    <li>not equal: <b>!=</b></li>
    <li>greater than: <b>></b></li>
    <li>less than: <b>&lt;</b></li>
    <li>greater than or equal to: <b>>=</b></li>
    <li>less than or equal to: <b>&lt;=</b></li>
</ul>

<p>Let's assign <code>a</code> a value of 5. Use the equality operator denoted with two equal <b>==</b> signs to determine if two values are equal. The case below compares the variable <code>a</code> with 6.</p>

In [1]:
a = 5
a == 6

False

<p>The result is <b>False</b>, as 5 does not equal to 6.</p>

<p>Consider the following equality comparison operator: <code>i > 5</code>. If the value of the left operand, in this case the variable <b>i</b>, is greater than the value of the right operand, in this case 5, then the statement is <b>True</b>. Otherwise, the statement is <b>False</b>.  If <b>i</b> is equal to 6, because 6 is larger than 5, the output is <b>True</b>.</p>

In [2]:
i = 6
i > 5

True

<p>Set <code>i = 2</code>. The statement is False as 2 is not greater than 5:</p>

In [3]:
i = 2
i > 5

False

<p>The inequality test uses an exclamation mark preceding the equal sign, if two operands are not equal then the condition becomes <b>True</b>.  For example, the following condition will produce <b>True</b> as long as the value of <code>i</code> is not equal to 6:</p>

In [4]:
i = 2
i != 6

True

<p>When <code>i</code> equals 6 the inequality expression produces <b>False</b>.</p>

In [5]:
i = 6
i != 6

False

<p>We can apply the same methods on strings. For example, we can use an equality operator on two different strings. As the strings are not equal, we get a <b>False</b>.</p>

In [6]:
"ABCD" == "KksK"

False

<p>If we use the inequality operator, the output is going to be <b>True</b> as the strings are not equal.</p>

In [7]:
"ABCD" != "KksK"

True

<p>The inequality operation is also used to compare the letters/words/symbols according to the ASCII value of letters. The decimal value shown in the following table represents the order of the character:</p>

<div style="display: flex; gap: 30px; padding: 20px; overflow-x: auto;">

  <!-- Group 1: Digits (0-9) -->
  <table style="border-collapse: collapse; border: 1px solid; text-align: center;">
    <thead>
      <tr>
        <th style="border: 1px solid; padding: 8px; text-align: center;">Character</th>
        <th style="border: 1px solid; padding: 8px; text-align: center;">ASCII</th>
      </tr>
    </thead>
    <tbody>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">0</td><td style="border: 1px solid; padding: 8px; text-align: center;">48</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">1</td><td style="border: 1px solid; padding: 8px; text-align: center;">49</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">2</td><td style="border: 1px solid; padding: 8px; text-align: center;">50</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">3</td><td style="border: 1px solid; padding: 8px; text-align: center;">51</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">4</td><td style="border: 1px solid; padding: 8px; text-align: center;">52</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">5</td><td style="border: 1px solid; padding: 8px; text-align: center;">53</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">6</td><td style="border: 1px solid; padding: 8px; text-align: center;">54</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">7</td><td style="border: 1px solid; padding: 8px; text-align: center;">55</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">8</td><td style="border: 1px solid; padding: 8px; text-align: center;">56</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">9</td><td style="border: 1px solid; padding: 8px; text-align: center;">57</td></tr>
    </tbody>
  </table>

  <!-- Group 2: Basic Symbols (Space, Punctuation) -->
  <table style="border-collapse: collapse; border: 1px solid; text-align: center;">
    <thead>
      <tr>
        <th style="border: 1px solid; padding: 8px; text-align: center;">Character</th>
        <th style="border: 1px solid; padding: 8px; text-align: center;">ASCII</th>
      </tr>
    </thead>
    <tbody>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">&nbsp;(space)</td><td style="border: 1px solid; padding: 8px; text-align: center;">32</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">!</td><td style="border: 1px solid; padding: 8px; text-align: center;">33</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">&quot;</td><td style="border: 1px solid; padding: 8px; text-align: center;">34</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">#</td><td style="border: 1px solid; padding: 8px; text-align: center;">35</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">$</td><td style="border: 1px solid; padding: 8px; text-align: center;">36</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">%</td><td style="border: 1px solid; padding: 8px; text-align: center;">37</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">&amp;</td><td style="border: 1px solid; padding: 8px; text-align: center;">38</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">&apos;</td><td style="border: 1px solid; padding: 8px; text-align: center;">39</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">(</td><td style="border: 1px solid; padding: 8px; text-align: center;">40</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">)</td><td style="border: 1px solid; padding: 8px; text-align: center;">41</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">*</td><td style="border: 1px solid; padding: 8px; text-align: center;">42</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">+</td><td style="border: 1px solid; padding: 8px; text-align: center;">43</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">,</td><td style="border: 1px solid; padding: 8px; text-align: center;">44</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">-</td><td style="border: 1px solid; padding: 8px; text-align: center;">45</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">.</td><td style="border: 1px solid; padding: 8px; text-align: center;">46</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">/</td><td style="border: 1px solid; padding: 8px; text-align: center;">47</td></tr>
    </tbody>
  </table>

  <!-- Group 3: Uppercase Letters (A-M) -->
  <table style="border-collapse: collapse; border: 1px solid; text-align: center;">
    <thead>
      <tr>
        <th style="border: 1px solid; padding: 8px; text-align: center;">Character</th>
        <th style="border: 1px solid; padding: 8px; text-align: center;">ASCII</th>
      </tr>
    </thead>
    <tbody>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">A</td><td style="border: 1px solid; padding: 8px; text-align: center;">65</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">B</td><td style="border: 1px solid; padding: 8px; text-align: center;">66</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">C</td><td style="border: 1px solid; padding: 8px; text-align: center;">67</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">D</td><td style="border: 1px solid; padding: 8px; text-align: center;">68</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">E</td><td style="border: 1px solid; padding: 8px; text-align: center;">69</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">F</td><td style="border: 1px solid; padding: 8px; text-align: center;">70</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">G</td><td style="border: 1px solid; padding: 8px; text-align: center;">71</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">H</td><td style="border: 1px solid; padding: 8px; text-align: center;">72</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">I</td><td style="border: 1px solid; padding: 8px; text-align: center;">73</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">J</td><td style="border: 1px solid; padding: 8px; text-align: center;">74</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">K</td><td style="border: 1px solid; padding: 8px; text-align: center;">75</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">L</td><td style="border: 1px solid; padding: 8px; text-align: center;">76</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">M</td><td style="border: 1px solid; padding: 8px; text-align: center;">77</td></tr>
    </tbody>
  </table>

  <!-- Group 4: Uppercase Letters (N-Z) -->
  <table style="border-collapse: collapse; border: 1px solid; text-align: center;">
    <thead>
      <tr>
        <th style="border: 1px solid; padding: 8px; text-align: center;">Character</th>
        <th style="border: 1px solid; padding: 8px; text-align: center;">ASCII</th>
      </tr>
    </thead>
    <tbody>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">N</td><td style="border: 1px solid; padding: 8px; text-align: center;">78</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">O</td><td style="border: 1px solid; padding: 8px; text-align: center;">79</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">P</td><td style="border: 1px solid; padding: 8px; text-align: center;">80</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">Q</td><td style="border: 1px solid; padding: 8px; text-align: center;">81</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">R</td><td style="border: 1px solid; padding: 8px; text-align: center;">82</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">S</td><td style="border: 1px solid; padding: 8px; text-align: center;">83</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">T</td><td style="border: 1px solid; padding: 8px; text-align: center;">84</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">U</td><td style="border: 1px solid; padding: 8px; text-align: center;">85</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">V</td><td style="border: 1px solid; padding: 8px; text-align: center;">86</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">W</td><td style="border: 1px solid; padding: 8px; text-align: center;">87</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">X</td><td style="border: 1px solid; padding: 8px; text-align: center;">88</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">Y</td><td style="border: 1px solid; padding: 8px; text-align: center;">89</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">Z</td><td style="border: 1px solid; padding: 8px; text-align: center;">90</td></tr>
    </tbody>
  </table>

  <!-- Group 5: Lowercase Letters (a-m) -->
  <table style="border-collapse: collapse; border: 1px solid; text-align: center;">
    <thead>
      <tr>
        <th style="border: 1px solid; padding: 8px; text-align: center;">Character</th>
        <th style="border: 1px solid; padding: 8px; text-align: center;">ASCII</th>
      </tr>
    </thead>
    <tbody>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">a</td><td style="border: 1px solid; padding: 8px; text-align: center;">97</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">b</td><td style="border: 1px solid; padding: 8px; text-align: center;">98</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">c</td><td style="border: 1px solid; padding: 8px; text-align: center;">99</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">d</td><td style="border: 1px solid; padding: 8px; text-align: center;">100</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">e</td><td style="border: 1px solid; padding: 8px; text-align: center;">101</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">f</td><td style="border: 1px solid; padding: 8px; text-align: center;">102</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">g</td><td style="border: 1px solid; padding: 8px; text-align: center;">103</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">h</td><td style="border: 1px solid; padding: 8px; text-align: center;">104</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">i</td><td style="border: 1px solid; padding: 8px; text-align: center;">105</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">j</td><td style="border: 1px solid; padding: 8px; text-align: center;">106</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">k</td><td style="border: 1px solid; padding: 8px; text-align: center;">107</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">l</td><td style="border: 1px solid; padding: 8px; text-align: center;">108</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">m</td><td style="border: 1px solid; padding: 8px; text-align: center;">109</td></tr>
    </tbody>
  </table>

  <!-- Group 6: Lowercase Letters (n-z) -->
  <table style="border-collapse: collapse; border: 1px solid; text-align: center;">
    <thead>
      <tr>
        <th style="border: 1px solid; padding: 8px; text-align: center;">Character</th>
        <th style="border: 1px solid; padding: 8px; text-align: center;">ASCII</th>
      </tr>
    </thead>
    <tbody>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">n</td><td style="border: 1px solid; padding: 8px; text-align: center;">110</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">o</td><td style="border: 1px solid; padding: 8px; text-align: center;">111</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">p</td><td style="border: 1px solid; padding: 8px; text-align: center;">112</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">q</td><td style="border: 1px solid; padding: 8px; text-align: center;">113</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">r</td><td style="border: 1px solid; padding: 8px; text-align: center;">114</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">s</td><td style="border: 1px solid; padding: 8px; text-align: center;">115</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">t</td><td style="border: 1px solid; padding: 8px; text-align: center;">116</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">u</td><td style="border: 1px solid; padding: 8px; text-align: center;">117</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">v</td><td style="border: 1px solid; padding: 8px; text-align: center;">118</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">w</td><td style="border: 1px solid; padding: 8px; text-align: center;">119</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">x</td><td style="border: 1px solid; padding: 8px; text-align: center;">120</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">y</td><td style="border: 1px solid; padding: 8px; text-align: center;">121</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">z</td><td style="border: 1px solid; padding: 8px; text-align: center;">122</td></tr>
    </tbody>
  </table>

  <!-- Group 7: Extended Symbols ([, \, ], ^, _, etc.) -->
  <table style="border-collapse: collapse; border: 1px solid; text-align: center;">
    <thead>
      <tr>
        <th style="border: 1px solid; padding: 8px; text-align: center;">Character</th>
        <th style="border: 1px solid; padding: 8px; text-align: center;">ASCII</th>
      </tr>
    </thead>
    <tbody>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">[</td><td style="border: 1px solid; padding: 8px; text-align: center;">91</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">\</td><td style="border: 1px solid; padding: 8px; text-align: center;">92</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">]</td><td style="border: 1px solid; padding: 8px; text-align: center;">93</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">^</td><td style="border: 1px solid; padding: 8px; text-align: center;">94</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">_</td><td style="border: 1px solid; padding: 8px; text-align: center;">95</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">`</td><td style="border: 1px solid; padding: 8px; text-align: center;">96</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">{</td><td style="border: 1px solid; padding: 8px; text-align: center;">123</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">|</td><td style="border: 1px solid; padding: 8px; text-align: center;">124</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">}</td><td style="border: 1px solid; padding: 8px; text-align: center;">125</td></tr>
      <tr><td style="border: 1px solid; padding: 8px; text-align: center;">~</td><td style="border: 1px solid; padding: 8px; text-align: center;">126</td></tr>
    </tbody>
  </table>

</div>

<p>For example, the ASCII code for <b>!</b> is 33, while the ASCII code for <b>+</b> is 43. Therefore <b>+</b> is larger than <b>!</b> as 43 is greater than 33.</p>

<p>Similarly, from the table above we see that the value for <b>A</b> is 65, and the value for <b>B</b> is 66, therefore:</p>

In [8]:
"B" > "A"

True

<p>When there are multiple letters, the first letter takes precedence in ordering:</p>

In [9]:
"BA" > "AB"

True

<p><b>Note</b>: Upper Case Letters have different ASCII code than Lower Case Letters, which means the comparison between the letters in Python is case-sensitive.</p>

### Branching

<p>Branching allows us to run different statements for different inputs. It is helpful to think of an <code>if statement</code> as a locked room, if the statement is <code>True</code> we can enter the room and your program will run some predefined tasks, but if the statement is <code>False</code> the program will ignore the task.</p>

<p>For example, consider the blue rectangle representing an ACDC concert. If the individual is older than 18, they can enter the ACDC concert. If they are 18 or younger, they cannot enter the concert.</p>

<p>We can use the condition statements learned before as the conditions that need to be checked in the <code>if statement</code>. The syntax is as simple as <code>if <i>condition statement</i>:</code>, which contains a word <code>if</code>, any condition statement, and a colon at the end. Start your tasks which need to be executed under this condition in a new line with an indent. The lines of code after the colon and with an indent will only be executed when the <code>if statement</code> is <code>True</code>. The tasks will end when the line of code does not contain the indent.

<p>In the case below, the code <code>print("you can enter")</code> is executed only if the variable <code>age</code> is greater than 18 is a True case because this line of code has the indent. However, the execution of <code>print("move on")</code> will not be influenced by the if statement.</p>

In [10]:
age = 19

if age >= 18:
    print("You are allowed to enter.")

print("Let's move on.")

You are allowed to enter.
Let's move on.

<p><i>Try uncommenting the age variable</i></p>

<p>The <code>else</code> statement runs a block of code if none of the conditions are <code>True</code> before this <code>else</code> statement.</p>

<p>The syntax of the <code>else</code> statement is similar as the syntax of the <code>if</code> statement, as <code>else :</code>. Notice that, there is no condition statement for <code>else</code>.
Try changing the values of <code>age</code> to see what happens:</p>

In [11]:
age = 18

if age > 18:
    print("Adult")
else:
    print("Child")

print("Let's move on.")

Child
Let's move on.

<p>The <code>elif</code> statement, short for else if, allows us to check additional conditions if the condition statements before it are <b>False</b>. If the condition for the <code>elif</code> statement is <b>True</b>, the alternate expressions will be run. The syntax of the <code>elif</code> statement is similar in that we merely change the <code>if</code> in the <code>if</code> statement to <code>elif</code>.</p>

In [12]:
age = 18

if age > 18:
    print("Mature Adult")
elif age == 18:
    print("Adult")
else:
    print("Child")

print("Let's move on.")

Adult
Let's move on.

<p>Notice that the code in the above <b>indented</b> block will only be executed if the results are <b>True</b>.</p>

<p>As before, we can add an <code>else</code> block to the <code>if</code> block. The code in the <code>else</code> block will only be executed if the result is <b>False</b>.</p>

**Syntax**:

```Python
if condition:
    pass    # do something here
else:
    pass    # do something else here
```

<p>If the condition in the <code>if</code> statement is <b>False</b>, the statement after the <code>else</code> block will execute.</p>

In [13]:
album_year = 1983

if album_year >= 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print("Do something here")

Album year is greater than 1980
Do something here

<p>Feel free to change the <code>album_year</code> value to other values -- you'll see that the result changes based on it!</p>

### Logical operators

<p>Sometimes you want to check more than one condition at once. For example, you might want to check if one condition and another condition are both <code>True</code>. Logical operators allow you to combine or modify conditions.</p>

<ul>
    <li><code>and</code></li>
    <li><code>or</code></li>
    <li><code>not</code></li>
</ul>

These operators are summarized for two variables using the following truth tables:

<div style="display: flex; gap: 20px; padding: 20px; overflow-x: auto;">
  <table style="border-collapse: collapse;">
    <thead>
      <tr>
        <th style="border: 1px solid; text-align: center; padding: 8px;">A</th>
        <th style="border: 1px solid; text-align: center; padding: 8px;">B</th>
        <th style="border: 1px solid; text-align: center; padding: 8px;">A&nbsp;&amp;&nbsp;B</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="background-color: #f8d7da; border: 1px solid; text-align: center; padding: 8px; color: black;">False</td>
        <td style="background-color: #f8d7da; border: 1px solid; text-align: center; padding: 8px; color: black;">False</td>
        <td style="background-color: #f8d7da; border: 1px solid; text-align: center; padding: 8px; color: black;">False</td>
      </tr>
      <tr>
        <td style="background-color: #f8d7da; border: 1px solid; text-align: center; padding: 8px; color: black;">False</td>
        <td style="background-color: #d4edda; border: 1px solid; text-align: center; padding: 8px; color: black;">True</td>
        <td style="background-color: #f8d7da; border: 1px solid; text-align: center; padding: 8px; color: black;">False</td>
      </tr>
      <tr>
        <td style="background-color: #d4edda; border: 1px solid; text-align: center; padding: 8px; color: black;">True</td>
        <td style="background-color: #f8d7da; border: 1px solid; text-align: center; padding: 8px; color: black;">False</td>
        <td style="background-color: #f8d7da; border: 1px solid; text-align: center; padding: 8px; color: black;">False</td>
      </tr>
      <tr>
        <td style="background-color: #d4edda; border: 1px solid; text-align: center; padding: 8px; color: black;">True</td>
        <td style="background-color: #d4edda; border: 1px solid; text-align: center; padding: 8px; color: black;">True</td>
        <td style="background-color: #d4edda; border: 1px solid; text-align: center; padding: 8px; color: black;">True</td>
      </tr>
    </tbody>
  </table>

  <table style="border-collapse: collapse;">
    <thead>
      <tr>
        <th style="border: 1px solid; text-align: center; padding: 8px;">A</th>
        <th style="border: 1px solid; text-align: center; padding: 8px;">B</th>
        <th style="border: 1px solid; text-align: center; padding: 8px;">A&nbsp;||&nbsp;B</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="background-color: #f8d7da; border: 1px solid; text-align: center; padding: 8px; color: black;">False</td>
        <td style="background-color: #f8d7da; border: 1px solid; text-align: center; padding: 8px; color: black;">False</td>
        <td style="background-color: #f8d7da; border: 1px solid; text-align: center; padding: 8px; color: black;">False</td>
      </tr>
      <tr>
        <td style="background-color: #f8d7da; border: 1px solid; text-align: center; padding: 8px; color: black;">False</td>
        <td style="background-color: #d4edda; border: 1px solid; text-align: center; padding: 8px; color: black;">True</td>
        <td style="background-color: #d4edda; border: 1px solid; text-align: center; padding: 8px; color: black;">True</td>
      </tr>
      <tr>
        <td style="background-color: #d4edda; border: 1px solid; text-align: center; padding: 8px; color: black;">True</td>
        <td style="background-color: #f8d7da; border: 1px solid; text-align: center; padding: 8px; color: black;">False</td>
        <td style="background-color: #d4edda; border: 1px solid; text-align: center; padding: 8px; color: black;">True</td>
      </tr>
      <tr>
        <td style="background-color: #d4edda; border: 1px solid; text-align: center; padding: 8px; color: black;">True</td>
        <td style="background-color: #d4edda; border: 1px solid; text-align: center; padding: 8px; color: black;">True</td>
        <td style="background-color: #d4edda; border: 1px solid; text-align: center; padding: 8px; color: black;">True</td>
      </tr>
    </tbody>
  </table>

  <table style="border-collapse: collapse;">
    <thead>
      <tr>
        <th style="border: 1px solid; text-align: center; padding: 8px;">A</th>
        <th style="border: 1px solid; text-align: center; padding: 8px;">A!</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="background-color: #f8d7da; border: 1px solid; text-align: center; padding: 8px; color: black;">False</td>
        <td style="background-color: #d4edda; border: 1px solid; text-align: center; padding: 8px; color: black;">True</td>
      </tr>
      <tr>
        <td style="background-color: #d4edda; border: 1px solid; text-align: center; padding: 8px; color: black;">True</td>
        <td style="background-color: #f8d7da; border: 1px solid; text-align: center; padding: 8px; color: black;">False</td>
      </tr>
    </tbody>
  </table>

</div>

The <code>and</code> statement is only **True** when both conditions are true. The <code>or</code> statement is True if one condition, or both are **True**. The <code>not</code> statement outputs the opposite truth value.

<p>The <code>and</code> statement is only <code>True</code> when both conditions are true. The <code>or</code> statement is True if one condition, or both are <code>True</code>. The <code>not</code> statement outputs the opposite truth value.</p>

<p>Let's see how to determine if an album was released after 1979 (1979 is not included) and before 1990 (1990 is not included). The time periods between 1980 and 1989 satisfy this condition.The block of code to perform this check is given by:</p>

In [14]:
album_year = 1980

if (album_year > 1979) and (album_year < 1990):
    print("Album year was in between 1980 and 1989.")

print("Do stuff...")

Album year was in between 1980 and 1989.
Do stuff...

<p>To determine if an album was released before 1980 (1979 and earlier) or after 1989 (1990 and onward), an or statement can be used. Periods before 1980 (1979 and earlier) or after 1989 (1990 and onward) satisfy this condition. The block of code to perform this check is given by:</p>

In [15]:
album_year = 1990

if (album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's.")
else:
    print("The Album was made in the 1980's.")

Album was not made in the 1980's.

<p>The <code>not</code> statement checks if the statement is false:</p>

In [16]:
album_year = 1983

if not (album_year == 1984):
    print("Album year is not 1984.")

Album year is not 1984.

### Quiz on Conditions

<p>Analyze a dataset containing information about renowned athletes, including their names, sports, and notable achievements, to apply conditional logic and filtering techniques.</p>

<table style="border: 1px solid; border-collapse: collapse">
<thead>
<tr>
    <th style="border: 1px solid; text-align: center">Player Name</th>
    <th style="border: 1px solid; text-align: center">Sport</th>
    <th style="border: 1px solid; text-align: center">Achievements</th>
</tr>
</thead>
<tbody>
<tr>
    <td style="border: 1px solid; text-align: center">Serena Williams</td>
    <td style="border: 1px solid; text-align: center">Tennis</td>
    <td style="border: 1px solid; text-align: center">23 Grand Slams</td>
</tr>
<tr>
    <td style="border: 1px solid; text-align: center">Lionel Messi</td>
    <td style="border: 1px solid; text-align: center">Soccer</td>
    <td style="border: 1px solid; text-align: center">7 Ballon d'Ors</td>
</tr>
<tr>
    <td style="border: 1px solid; text-align: center">Michael Phelps</td>
    <td style="border: 1px solid; text-align: center">Swimming</td>
    <td style="border: 1px solid; text-align: center">23 Gold Medals</td>
</tr>
<tr>
    <td style="border: 1px solid; text-align: center">Usain Bolt</td>
    <td style="border: 1px solid; text-align: center">Athletics</td>
    <td style="border: 1px solid; text-align: center">8 Gold Medals</td>
</tr>
<tr>
    <td style="border: 1px solid; text-align: center">Roger Federer</td>
    <td style="border: 1px solid; text-align: center">Tennis</td>
    <td style="border: 1px solid; text-align: center">20 Grand Slams</td>
</tr>
<tr>
    <td style="border: 1px solid; text-align: center">Cristiano Ronaldo</td>
    <td style="border: 1px solid; text-align: center">Soccer</td>
    <td style="border: 1px solid; text-align: center">5 Ballon d'Ors</td>
</tr>
</tbody>
</table>

In [17]:
# one part of my simplified solution
# convert the information in table into a list in Python
# build a dataset to include all information about athletes
RenownedAthletes = [
    {
        "PlayerName": "Serena Williams",
        "Sport": "Tennis",
        "Achievements": 23
    },
    {
        "PlayerName": "Lionel Messi",
        "Sport": "Soccer",
        "Achievements": 7
    },
    {
        "PlayerName": "Michael Phelps",
        "Sport": "Swimming",
        "Achievements": 23
    },
    {
        "PlayerName": "Usain Bolt",
        "Sport": "Athletics",
        "Achievements": 8
    },
    {
        "PlayerName": "Roger Federer",
        "Sport": "Tennis",
        "Achievements": 20
    },
    {
        "PlayerName": "Cristiano Ronaldo",
        "Sport": "Soccer",
        "Achievements": 5
    }
]

<p>Write a Python program to check if a player <b>Lionel Messi</b> has more than 10 achievements. If the condition is true, print the player's name, sport, and achievements else print does not have more than 10 achievements.</p>

In [18]:
messi_info = RenownedAthletes[1]
achievements = messi_info["Achievements"]

if achievements > 10:
    print("Player's name: ", messi_info["PlayerName"])
    print("Sport: ", messi_info["Sport"])
    print("Achievements: ", achievements)
else:
    print(f"Player {messi_info["PlayerName"]} does not have more than 10 achievements.")

Player Lionel Messi does not have more than 10 achievements.

<p>Write a Python program to check if a player belongs to the sport Tennis or has exactly 20 achievements. If the condition is true, print a success message.</p>

In [19]:
# My Simplified Solution - Loop and Comprehension is not mentioned by official currently
SportBelongsToTennis = [playerInfo["PlayerName"] for playerInfo in RenownedAthletes if (playerInfo["Sport"] == "Tennis") or (playerInfo["Achievements"] == 20)]

if SportBelongsToTennis is None:
    print("Did not find any player that meet the conditions.")
else:
    PlayersName = " and ".join(SportBelongsToTennis)
    print(f"{PlayersName} met the conditions.")

Serena Williams and Roger Federer met the conditions.

In [20]:
# official solution
player_name = "Roger Federer"
sport = "Tennis"
achievements = 20

if sport == "Tennis" or achievements == 20:
    print(f"{player_name} meets the criteria! They play {sport} and have {achievements} achievements.")
else:
    print(f"{player_name} does not meet the criteria.")

Roger Federer meets the criteria! They play Tennis and have 20 achievements.

<p>Write a Python program to check if a player has less than 10 achievements and does not play Soccer. Print their details if they meet the criteria.</p>

In [21]:
# my solution
MeetTheCriteria = [playerInfo for playerInfo in RenownedAthletes if (playerInfo["Achievements"] < 10) and (playerInfo["Sport"] != "Soccer")]

if MeetTheCriteria is None:
    print("Did not find any player that meet the criteria.")
else:
    counts = 0
    print("The details of player that meet the criteria:")
    for playerInfo in MeetTheCriteria:
        counts += 1
        print(f"Player{counts}:")
        print("Name: ", playerInfo["PlayerName"])
        print("Sport: ", playerInfo["Sport"])
        print("Achievements: ", playerInfo["Achievements"])

The details of player that meet the criteria:
Player1:
Name:  Usain Bolt
Sport:  Athletics
Achievements:  8

In [22]:
# official solution
player_name = "Usain Bolt"
sport = "Athletics"
achievements = 8

if achievements < 10 and sport != "Soccer":
    print(f"{player_name} plays {sport} and has only {achievements} achievements.")
else:
    print(f"{player_name} does not meet the criteria.")

Usain Bolt plays Athletics and has only 8 achievements.

****
This is the end of the file.
****