# Cheat Sheet: Dictionaries & Sets

## Dictionaries

### 1. Creating a Dictionary

<p>A dictionary is a built-in data type that represents a collection of key-value pairs. Dictionaries are enclosed in curly braces <code>{}</code>.</p>

In [1]:
dict_name = {} # This will create an empty
person = {"name": "John", "age": 20, "city": "New York"}
person

{'name': 'John', 'age': 20, 'city': 'New York'}

### 2. Accessing Values

<p>You can access the values in a dictionary using their corresponding <code>keys</code>.</p>

**Syntax**:

```Python
value = dict_name[key]
```

In [2]:
name = person["name"]
age = person["age"]
print(name, age)

John 20

### 3. Add or modify

<p>Inserts a new key-value pair into the dictionary. If the key already exists, the value will be updated; otherwise, a new entry is created.</p>

**Syntax**:

```Python
dict_name[key] = value
```

In [3]:
person["Country"] = "USA"   # A new entry will be created.
person["city"] = "Chicago"  # Update the existing value for the same key
person

{'name': 'John', 'age': 20, 'city': 'Chicago', 'Country': 'USA'}

### 4. del

<p>Removes the specified key-value pair from the dictionary. Raises a <code>KeyError</code> if the key does not exist.</p>

**Syntax**:

```Python
del dict_name[key]
```

In [4]:
del person["Country"]
person

{'name': 'John', 'age': 20, 'city': 'Chicago'}

### 5. update()

<p>The <code>update()</code> method merges the provided dictionary into the existing dictionary, adding or updating key-value pairs.</p>

**Syntax:**

```Python
dict_name.update({key: value})
```

In [5]:
person.update({"Occupation": "Doctor"})
person

{'name': 'John', 'age': 20, 'city': 'Chicago', 'Occupation': 'Doctor'}

### 6. clear()

<p>The <code>clear()</code> method empties the dictionary, removing all key-value pairs within it. After this operation, the dictionary is still accessible and can be used further.</p>

**Syntax**:

```Python
dict_name.clear()
```

In [6]:
grades = {"Freshman": 500, "Sophomore": 400, "Junior": 350, "Senior": 380}
grades

{'Freshman': 500, 'Sophomore': 400, 'Junior': 350, 'Senior': 380}

In [7]:
grades.clear()
grades

{}

### 7. key existence

<p>You can check for the existence of a key in a dictionary using the <code>in</code> keyword.</p>

In [8]:
"name" in person

True

### 8. copy()

<p>Creates a shallow copy of the dictionary. The new dictionary contains the same key-value pairs as the original, but they remain distinct objects in memory.</p>

**Syntax**:

```Python
new_dict = dict_name.copy()
```

In [9]:
new_person = person.copy()
print(new_person)
# or
new_person = dict(person)
print(new_person)

{'name': 'John', 'age': 20, 'city': 'Chicago', 'Occupation': 'Doctor'}
{'name': 'John', 'age': 20, 'city': 'Chicago', 'Occupation': 'Doctor'}

### 9. keys()

<p>Retrieves all keys from the dictionary and converts them into a list. Useful for iterating or processing keys using list methods.</p>

**Syntax**:

```Python
keys_list = list(dict_name.keys())
```

In [10]:
keys_list = list(person.keys())
keys_list

['name', 'age', 'city', 'Occupation']

### 10. values()

<p>Extracts all values from the dictionary and converts them into a list. This list can be used for further processing or analysis.</p>

**Syntax**:

```Python
values_list = list(dict_name.values())
```

In [11]:
values_list = list(person.values())
values_list

['John', 20, 'Chicago', 'Doctor']

### 11. items()

<p>Retrieves all key-value pairs as tuples and converts them into a list of tuples. Each tuple consists of a key and its corresponding value.</p>

**Syntax**:

```Python
items_list = list(dict_name.items())
```

In [12]:
items_list = list(person.items())
items_list

[('name', 'John'), ('age', 20), ('city', 'Chicago'), ('Occupation', 'Doctor')]

## Sets

### 1. add()

<p>Elements can be added to a set using the <code>add()</code> method. Duplicates are automatically removed, as sets only store unique values.</p>

**Syntax**:

```Python
set_name.add(element)
```

In [13]:
fruits = {"apple", "banana", "cherry"}
print(fruits)
fruits.add("orange")
print(fruits)

{'apple', 'banana', 'cherry'}
{'apple', 'banana', 'orange', 'cherry'}

### 2. clear()

<p>The <code>clear()</code> method removes all elements from the set, resulting in an empty set. It updates the set in-place.</p>

**Syntax**:

```Python
set_name.clear()
```

In [14]:
fruits.clear()
fruits

set()

### 3. copy()

<p>The <code>copy()</code> method creates a shallow copy of the set. Any modifications to the copy won't affect the original set.</p>

**Syntax**:

```Python
new_set = set_name.copy()
```

In [15]:
fruits = {"apple", "banana", "cherry"}
new_fruits = fruits.copy()
new_fruits

{'apple', 'banana', 'cherry'}

### 4. Defining Sets

<p>A set is an unordered collection of unique elements. Sets are enclosed in curly braces <code>{}</code>. They are useful for storing distinct values and performing set operations.</p>

In [16]:
empty_set = set()   # The only way to creating an empty set effectively
fruits = {"apple", "banana", "cherry", "orange"}    # Or you can initial it when defining a set

### 5. discard()

<p>Use the <code>discard()</code> method to remove a specific element from the set. Ignores if the element is not found.</p>

**Syntax**:

```Python
set_name.discard(element)
```

In [17]:
fruits.discard("apple")
fruits

{'banana', 'cherry', 'orange'}

### 6. issubset()

<p>The <code>issubset()</code> method checks if the current set is a subset of another set. It returns True if all elements of the current set are present in the other set, otherwise False.</p>

**Syntax**:

```Python
is_subset = set1.issubset(set2)
```

In [18]:
colors = {"red", "green", "blue"}
fruits.issubset(colors)

False

### 7. issuperset()

<p>The <code>issuperset()</code> method checks if the current set is a superset of another set. It returns True if all elements of the other set are present in the current set, otherwise False.</p>

**Syntax**:

```Python
is_superset = set1.issuperset(set2)
```

In [19]:
colors.issuperset(fruits)

False

### 8. pop()

<p>The <code>pop()</code> method removes and returns an arbitrary element from the set. It raises a `KeyError` if the set is empty. Use this method to remove elements when the order doesn't matter.</p>

**Syntax**:

```Python
removed_element = set_name.pop()
```

In [20]:
removed_fruit = fruits.pop()
removed_fruit

'banana'

### 9. remove()

<p>Use the <code>remove()</code> method to remove a specific element from the set. Raises a <code>KeyError</code> if the element is not found.</p>

**Syntax**:

```Python
set_name.remove(element)
```

In [21]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
fruits

{'apple', 'cherry'}

### 10. Set Operations

<p>Perform various operations on sets: <code>union</code>, <code>intersection</code>, <code>difference</code>, <code>symmetric difference</code>.</p>

**Syntax**:

```Python
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)
sys_difference_set = set1.symmetric_difference(set2)
```

In [22]:
combined = fruits.union(colors)
print(combined)

common = fruits.intersection(colors)
print(common)

unique_to_fruits = fruits.difference(colors)
print(unique_to_fruits)

sys_diff = fruits.symmetric_difference(colors)
print(sys_diff)

{'apple', 'green', 'blue', 'cherry', 'red'}
set()
{'apple', 'cherry'}
{'green', 'red', 'apple', 'blue', 'cherry'}

### 11. update()

<p>The <code>update()</code> method adds elements from another iterable into the set. It maintains the uniqueness of elements.</p>

**Syntax**:

```Python
set_name.update(iterable)
```

In [23]:
fruits.update(["kiwi", "grape"])
fruits

{'apple', 'cherry', 'grape', 'kiwi'}

****
This is the end of the file.
****