### About the Dataset

<p>The table has one row for each album and several columns.</p>

<ul>
    <li><b>artist</b>: Name of the artist</li>
    <li><b>album</b>: Name of the album</li>
    <li><b>released_year</b>: Year the album was released</li>
    <li><b>length_min_sec</b>: Length of the album (hours,minutes,seconds)</li>
    <li><b>genre</b>: Genre of the album</li>
    <li><b>music_recording_sales_millions</b>: Music recording sales (millions in USD) on <a href="http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01">[SONG://DATABASE]</a></li>
    <li><b>claimed_sales_millions</b>: Album's claimed sales (millions in USD) on <a href="http://www.song-database.com/">[SONG://DATABASE]</a></li>
    <li><b>date_released</b>: Date on which the album was released</li>
    <li><b>soundtrack</b>: Indicates if the album is the movie soundtrack (Y) or (N)</li>
    <li><b>rating_of_friends</b>: Indicates the rating from your friends from 1 to 10</li>
</ul>

<p>You can see the dataset here:</p>

<table style="border: 1px solid">
<thead>
<tr>
    <th style="border: 1px solid; text-align: center">Artist</th>
    <th style="border: 1px solid; text-align: center">Album</th>
    <th style="border: 1px solid; text-align: center">Released</th>
    <th style="border: 1px solid; text-align: center">Length</th>
    <th style="border: 1px solid; text-align: center">Genre</th>
    <th style="border: 1px solid; text-align: center">Music recording sales (millions)</th>
    <th style="border: 1px solid; text-align: center">Claimed sales (millions)</th>
    <th style="border: 1px solid; text-align: center">Released</th>
    <th style="border: 1px solid; text-align: center">Soundtrack</th>
    <th style="border: 1px solid; text-align: center">Rating (friends)</th>
</tr>
</thead>
<tbody>
<tr>
    <td style="border: 1px solid; text-align: center">Michael Jackson</td>
    <td style="border: 1px solid; text-align: center">Thriller</td>
    <td style="border: 1px solid; text-align: center">1982</td>
    <td style="border: 1px solid; text-align: center">00:42:19</td>
    <td style="border: 1px solid; text-align: center">Pop, rock, R&B</td>
    <td style="border: 1px solid; text-align: center">46</td>
    <td style="border: 1px solid; text-align: center">65</td>
    <td style="border: 1px solid; text-align: center">30-Nov-82</td>
    <td style="border: 1px solid; text-align: center"></td>
    <td style="border: 1px solid; text-align: center">10.0</td>
</tr>
<tr>
    <td style="border: 1px solid; text-align: center">AC/DC</td>
    <td style="border: 1px solid; text-align: center">Back in Black</td>
    <td style="border: 1px solid; text-align: center">1980</td>
    <td style="border: 1px solid; text-align: center">00:42:11</td>
    <td style="border: 1px solid; text-align: center">Hard rock</td>
    <td style="border: 1px solid; text-align: center">26.1</td>
    <td style="border: 1px solid; text-align: center">50</td>
    <td style="border: 1px solid; text-align: center">25-Jul-80</td>
    <td style="border: 1px solid; text-align: center"></td>
    <td style="border: 1px solid; text-align: center">8.5</td>
</tr>
<tr>
    <td style="border: 1px solid; text-align: center">Pink Floyd</td>
    <td style="border: 1px solid; text-align: center">The Dark Side of the Moon</td>
    <td style="border: 1px solid; text-align: center">1973</td>
    <td style="border: 1px solid; text-align: center">00:42:49</td>
    <td style="border: 1px solid; text-align: center">Progressive rock</td>
    <td style="border: 1px solid; text-align: center">24.2</td>
    <td style="border: 1px solid; text-align: center">45</td>
    <td style="border: 1px solid; text-align: center">01-Mar-73</td>
    <td style="border: 1px solid; text-align: center"></td>
    <td style="border: 1px solid; text-align: center">9.5</td>
</tr>
<tr>
    <td style="border: 1px solid; text-align: center">Whitney Houston</td>
    <td style="border: 1px solid; text-align: center">The Bodyguard</td>
    <td style="border: 1px solid; text-align: center">1992</td>
    <td style="border: 1px solid; text-align: center">00:57:44</td>
    <td style="border: 1px solid; text-align: center">Soundtrack/R&B, soul, pop</td>
    <td style="border: 1px solid; text-align: center">26.1</td>
    <td style="border: 1px solid; text-align: center">50</td>
    <td style="border: 1px solid; text-align: center">25-Jul-80</td>
    <td style="border: 1px solid; text-align: center">Y</td>
    <td style="border: 1px solid; text-align: center">7.0</td>
</tr>
<tr>
    <td style="border: 1px solid; text-align: center">Meat Loaf</td>
    <td style="border: 1px solid; text-align: center">Bat Out of Hell</td>
    <td style="border: 1px solid; text-align: center">1977</td>
    <td style="border: 1px solid; text-align: center">00:46:33</td>
    <td style="border: 1px solid; text-align: center">Hard rock, progressive rock</td>
    <td style="border: 1px solid; text-align: center">20.6</td>
    <td style="border: 1px solid; text-align: center">43</td>
    <td style="border: 1px solid; text-align: center">21-Oct-77</td>
    <td style="border: 1px solid; text-align: center"></td>
    <td style="border: 1px solid; text-align: center">7.0</td>
</tr>
<tr>
    <td style="border: 1px solid; text-align: center">Eagles</td>
    <td style="border: 1px solid; text-align: center">Their Greatest Hits (1971-1975)</td>
    <td style="border: 1px solid; text-align: center">1976</td>
    <td style="border: 1px solid; text-align: center">00:43:08</td>
    <td style="border: 1px solid; text-align: center">Rock, soft rock, folk rock</td>
    <td style="border: 1px solid; text-align: center">32.2</td>
    <td style="border: 1px solid; text-align: center">42</td>
    <td style="border: 1px solid; text-align: center">17-Feb-76</td>
    <td style="border: 1px solid; text-align: center"></td>
    <td style="border: 1px solid; text-align: center">9.5</td>
</tr>
<tr>
    <td style="border: 1px solid; text-align: center">Bee Gees</td>
    <td style="border: 1px solid; text-align: center">Saturday Night Fever</td>
    <td style="border: 1px solid; text-align: center">1977</td>
    <td style="border: 1px solid; text-align: center">1:15:54</td>
    <td style="border: 1px solid; text-align: center">Disco</td>
    <td style="border: 1px solid; text-align: center">20.6</td>
    <td style="border: 1px solid; text-align: center">40</td>
    <td style="border: 1px solid; text-align: center">15-Nov-77</td>
    <td style="border: 1px solid; text-align: center">Y</td>
    <td style="border: 1px solid; text-align: center">9.0</td>
</tr>
<tr>
    <td style="border: 1px solid; text-align: center">Fleetwood Mac</td>
    <td style="border: 1px solid; text-align: center">Rumours</td>
    <td style="border: 1px solid; text-align: center">1977</td>
    <td style="border: 1px solid; text-align: center">00:40:01</td>
    <td style="border: 1px solid; text-align: center">Soft rock</td>
    <td style="border: 1px solid; text-align: center">27.9</td>
    <td style="border: 1px solid; text-align: center">40</td>
    <td style="border: 1px solid; text-align: center">04-Feb-77</td>
    <td style="border: 1px solid; text-align: center"></td>
    <td style="border: 1px solid; text-align: center">9.5</td>
</tr>
</tbody>
</table>

### Introduction of `Pandas`

In [1]:
import pandas as pd

<p>After the import command, we now have access to a large number of pre-built classes and functions. This assumes the library is installed; in our lab environment all the necessary libraries are installed. One way pandas allows you to work with data is a dataframe. Let's go through the process to go from a comma separated values (<b>.csv</b>) file to a dataframe. This variable <code>csv_path</code> stores the path of the <b>.csv</b>, that is  used as an argument to the <code>read_csv</code> function. The result is stored in the object <code>df</code>, this is a common short form used for a variable referring to a Pandas dataframe.</p>

In [2]:
import subprocess
import sys

def install_packages(packages: list[str]) -> None:
    """
    Check and install the specified packages.
    :param packages: packages to install
    :return:
    """
    count = 0
    for package in packages:
        try:
            __import__(package)
            print(f"{count + 1}. {package} is already installed.")
            count += 1
        except ImportError:
            try:
                result = subprocess.run(args=[sys.executable, "-m", "pip", "show", package], stdout=subprocess.DEVNULL,
                                        stderr=subprocess.DEVNULL)
                if result.returncode == 0:
                    print(f"{count + 1}. {package} is already installed.")
                    count += 1
                else:
                    raise subprocess.CalledProcessError(result.returncode, result.args)
            except subprocess.CalledProcessError:
                try:
                    print(f"{count + 1}. {package} is not installed. So installation will begin soon...")
                    subprocess.check_call([sys.executable, "-m", "pip", "install", package])
                    print(f"{count + 1}. {package} installed successfully.")
                except subprocess.CalledProcessError:
                    print(f"Failed to install {package}. Please check your internet connection or Python environment.")

In [3]:
# Download the needed library
install_packages(["openpyxl"])

1. openpyxl is not installed. So installation will begin soon...
1. openpyxl installed successfully.

In [4]:
# Download the needed file
import requests

def download_files(url: str) -> str:
    """
    use `requests` library to download file from a specified url
    :param url: completely url
    :return: filename
    """
    response = requests.get(url, stream=True)
    fn = url.split("/")[-1]

    if response.status_code == 200:
        total_size = int(response.headers.get("content-length", 0))
        downloaded = 0

        with open(fn, "wb") as file:
            for chunk in response.iter_content(chunk_size=1024 ** 2):
                if not chunk:
                    continue

                file.write(chunk)
                downloaded += len(chunk)
                percentage = downloaded / total_size * 100
                print(f"Downloading: {percentage}%")

        print("Done.")
        return fn

    print(f"Error. HTTP code: {response.status_code}.")
    return fn


csv_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"


filename1 = download_files(url=csv_path)
print(f"Filename: {filename1}")

Downloading: 100.0%
Done.
Filename: TopSellingAlbums.csv

In [5]:
df = pd.read_csv(filename1)
df

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0
5,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5
6,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0
7,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04-Feb-77,NaN,6.5

<p>We can use the method <code>head()</code> to examine the first five rows of a dataframe:</p>

In [6]:
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

<p>We use the path of the Excel file and the function <code>read_excel</code>. The result is a DataFrame as before:</p>

In [7]:
xlsx_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/jupyterlite/files/Module%205/data/TopSellingAlbums.xlsx"
filename2 = download_files(url=xlsx_path)

Downloading: 100.0%
Done.

In [8]:
df = pd.read_excel(xlsx_path)
df

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0
5,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,1976-02-17,NaN,7.5
6,Bee Gees,Saturday Night Fever,1977,01:15:54,disco,20.6,40,1977-11-15,Y,7.0
7,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,1977-02-04,NaN,6.5

In [9]:
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

<p>We can access the column <b>Length</b> and assign it a new dataframe <b>x</b>:</p>

In [10]:
x = df[["Length"]]
x

     Length
0  00:42:19
1   0:42:11
2   0:42:49
3   0:57:44
4   0:46:33
5   0:43:08
6  01:15:54
7   0:40:01

### Viewing Data and Accessing Data

<p>You can also get a column as a series. You can think of a Pandas series as a 1-D dataframe. Just use one bracket:</p>

In [11]:
x = df["Length"]
x

0    00:42:19
1     0:42:11
2     0:42:49
3     0:57:44
4     0:46:33
5     0:43:08
6    01:15:54
7     0:40:01
Name: Length, dtype: object

<p>You can also get a column as a dataframe. For example, we can assign the column <b>Artist</b>:</p>

In [12]:
x = df[["Artist"]]
x

            Artist
0  Michael Jackson
1            AC/DC
2       Pink Floyd
3  Whitney Houston
4        Meat Loaf
5           Eagles
6         Bee Gees
7    Fleetwood Mac

In [13]:
type(x)

pandas.core.frame.DataFrame

<p>You can do the same thing for multiple columns; we just put the dataframe name, in this case, <code>df</code>, and the name of the multiple column headers enclosed in double brackets. The result is a new dataframe comprised of the specified columns:</p>

In [14]:
y = df[["Artist", "Length", "Genre"]]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC   0:42:11                    hard rock
2       Pink Floyd   0:42:49             progressive rock
3  Whitney Houston   0:57:44               R&B, soul, pop
4        Meat Loaf   0:46:33  hard rock, progressive rock
5           Eagles   0:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac   0:40:01                    soft rock

<p>One way to access unique elements is the <code>iloc</code> method, where you can access the 1st row and the 1st column as follows:</p>

In [15]:
df.iloc[0, 0]

'Michael Jackson'

<p>You can access the 2nd row and the 1st column as follows:</p>

In [16]:
df.iloc[1, 0]

'AC/DC'

<p>You can access the 1st row and the 3rd column as follows:</p>

In [17]:
# Access the value on the 1st row and the 3rd column
df.iloc[0, 2]

np.int64(1982)

In [18]:
# Access the value on the 2nd row and the 3rd column
df.iloc[1, 2]

np.int64(1980)

<p>You can access the column using the name as well, the following are the same as above:</p>

In [19]:
df.loc[0, "Artist"]

'Michael Jackson'

In [20]:
df.loc[1, "Artist"]

'AC/DC'

In [21]:
df.loc[0, "Released"]

np.int64(1982)

In [22]:
df.loc[1, "Released"]

np.int64(1980)

<p>You can perform slicing using both the index and the name of the column:</p>

In [23]:
df.iloc[0: 2, 0: 3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [24]:
df.loc[0: 2, "Artist": "Released"]

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

### Quiz on DataFrame

<p>Use a variable <code>q</code> to store the column <b>Rating</b> as a dataframe</p>

In [25]:
q = df[["Rating"]]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

<p>Assign the variable <code>q</code> to the dataframe that is made up of the column <b>Released</b> and <b>Artist</b>:</p>

In [26]:
q = df[["Released", "Artist"]]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

<p>Access the 2nd row and the 3rd column of <code>df</code>:</p>

In [27]:
df.iloc[1, 2]

np.int64(1980)

<p>Use the following list to convert the dataframe index <code>df</code> to characters and assign it to <code>df_new</code>; find the element corresponding to the row index <code>a</code> and column <code>"Artist"</code>. Then select the rows <code>a</code> through <code>d</code> for the column <code>"Artist"</code>.</p>

In [28]:
new_index = ["a", "b", "c", "d", "e", "f", "g", "h"]
df_new = df
df_new.index = new_index
df_new

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
a,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
b,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
c,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
d,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
e,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0
f,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,1976-02-17,NaN,7.5
g,Bee Gees,Saturday Night Fever,1977,01:15:54,disco,20.6,40,1977-11-15,Y,7.0
h,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,1977-02-04,NaN,6.5

In [29]:
df_new.loc["a", "Artist"]

'Michael Jackson'

In [30]:
df_new.loc["a": "d", "Artist"]

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

****
This is the end of the file.
****