## Types of objects in Python

<p>Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: <i>strings</i>, <i>integers</i> and <i>floats</i>. Anytime you write words (text) in Python, you're using <i>character strings</i> (strings for short). The most common numbers, on the other hand, are <i>integers</i> (e.g. -1, 0, 100) and <i>floats</i>, which represent real numbers (e.g. 3.14, -42.0).</p>

Here are some examples:

In [2]:
# integer
1

1

In [4]:
# float
1.1

1.1

In [6]:
# str
"A"

'A'

<p>You can get Python to tell you the type of an expression by using the built-in <code>type()</code> function. You'll notice that Python refers to integers as <code>int</code>, floats as <code>float</code>, and character strings as <code>str</code>.</p>

In [8]:
# type of 1
type(1)

int

In [10]:
# type of 1.1
type(1.1)

float

In [12]:
# type of "A"
type("A")

str

### Integers

<p>Here are some examples of integers. Integers can be negative or positive numbers:</p>
-4, -3, -2, -1, 0, 1, 2, 3, 4

<p>We can verify this is the case by using, you guessed it, the <code>type()</code> function:

In [13]:
type(-1)

int

In [14]:
type(0)

int

In [15]:
type(2)

int

### Floats

<p>Floats represent real numbers; they are a superset of integer numbers but also include "numbers with decimals". There are some limitations when it comes to machines representing real numbers, but floating point numbers are a good representation in most cases. You can learn more about the specifics of floats for your runtime environment, by checking the value of <code>sys.float_info</code>. This will also tell you what's the largest and smallest number that can be represented with them.</p>

<p>Once again, can test some examples with the <code>type()</code> function:

In [16]:
type(1.00)

float

In [17]:
type(1.555)

float

In [18]:
import sys
print(sys.float_info)

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

### Converting from one object type to a different object type

<p>You can change the type of the object in Python; this is called typecasting. For example, you can convert an <i>integer</i> into a <i>float</i> (e.g. 2 to 2.0).</p>
<p>Let's try it:</p>

In [19]:
type(2)

int

In [20]:
float(2)

2.0

In [21]:
type(float(2))

float

<p>When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e., 0.1):</p>

In [22]:
int(1.1)

1

<h4>Converting from strings to integers or floats</h4>

<p>Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using <code>int()</code>:</p>

In [23]:
int("1")

1

<p>But if you try to do so with a string that is not a perfect match for a number, you'll get an error. For example:</p>

In [24]:
int("There is 1 apple on the desk.")

ValueError: invalid literal for int() with base 10: 'There is 1 apple on the desk.'

<p>You can also convert strings containing floating point numbers into <i>float</i> objects:</p>

In [25]:
float("1.1")

1.1

<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] Note that strings can be represented with single quotes (<code>'1.2'</code>) or double quotes (<code>"1.2"</code>), but you can't mix both (e.g., <code>"1.2'</code>).
</div>

### Convert numbers to strings

<p>If we can convert strings to numbers, it is only natural to assume that we can convert numbers to strings, right?</p>

In [26]:
# convert an integer to a string
str(1)

'1'

In [27]:
# convert a float to a string
str(1.1)

'1.1'

### Boolean data type

<p><i>Boolean</i> is another important type in Python. An object of type <i>Boolean</i> can take on one of two values: <code>True</code> or <code>False</code>:</p>

In [28]:
True

True

<p>Notice that the value <code>True</code> has an uppercase "T". The same is true for <code>False</code> (i.e. you must use the uppercase "F").</p>

In [30]:
False

False

<p>When you ask Python to display the type of a boolean object it will show <code>bool</code> which stands for <i>boolean</i>:</p>

In [31]:
type(True)

bool

In [32]:
type(False)

bool

<p>We can cast boolean objects to other data types. If we cast a boolean with a value of <code>True</code> to an integer or float we will get a one. If we cast a boolean with a value of <code>False</code> to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a <code>True</code>. And if we cast a 0 to a Boolean we will get a <code>False</code>. Let's give it a try:</p>

In [33]:
# convert true to int
int(True)

1

In [34]:
# convert true to float
float(True)

1.0

In [35]:
# convert integer 1 to boolean
bool(1)

True

In [39]:
# convert integer 0 to boolean
bool(0)

False

For numeric-to-boolean casting: Only 0 (and 0.0 for floats) is converted to <code>False</code>—all other numeric values (e.g., 1, -3, 2.71) will become <code>True</code>.

In [38]:
bool(-1.1)

True

In [40]:
bool(1.2)

True

### Some exercise: Types

<p>What is the data type of the result of: <code>6 / 2</code>?</p>

In [43]:
a = 6/2
print(a)
type(a)

3.0

float

<p>What is the type of the result of: <code>6 // 2</code>? (Note the double slash <code>//</code>.)</p>

In [44]:
b = 6//2
print(b)
type(b)

3

int

What is the type of the result of: <code>"Hello, World!"</code>

In [45]:
type("Hello, World!")

str

What is the type of the result of: <code>"hello" == "world"</code>

In [47]:
c = "hello" == "world"
print(c)
type(c)

False

bool

Write the code to convert the following number representing employeeid **"1001"** to an integer

In [48]:
int("1001")

1001

Write the code to convert this number representing financial value **"1234.56"** to a floating point number

In [ ]:
float("1234.56")

Write the code to convert this phone number **123-456-7890** to a string

In [1]:
str("123-456-7890")

'123-456-7890'

****
Okay, this is the end of this file.
****