### Expressions

<p>Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:</p>

In [1]:
# Addition operation expression
40 + 66 + 5 + 90

201

<p>We can perform subtraction operations using the minus operator. In this case the result is a negative number:</p>

In [2]:
# Subtraction operation expression
80 - 100

-20

<p>We can do multiplication using an asterisk:</p>

In [3]:
# Multiplication operation expression
10 * 3

30

<p>We can also perform division with the forward slash:

In [5]:
# Division operation expression
a = 36 / 6
print(a)
type(a)

6.0

float

In [6]:
b = 36 / 5
print(b)
type(b)

7.2

float

<p>As seen in the quiz above, we can use the double slash for integer division, where the result is rounded down to the nearest integer:</p>

In [7]:
# Integer division operation expression
49 // 7

7

In [8]:
49 // 8

6

<p>Let's write an expression that calculates how many hours there are in 160 minutes:</p>

In [9]:
160//60

2

<p>Python follows well accepted mathematical conventions when evaluating mathematical expressions. In the following example, Python adds 30 to the result of the multiplication (i.e., 120).</p>

In [10]:
# Mathematical expression
80 + 3 * 29

167

<p>And just like mathematics, expressions enclosed in parentheses have priority. So the following multiplies 32 by 60.</p>

In [11]:
60 * (30 + 2)

1920

### Variables

<p>Just like with most programming languages, we can store values in <i>variables</i>, so we can use them later on. For example:</p>

In [12]:
x = 90 + 88 + 56 + 90

<p>To see the value of <code>x</code> in a Notebook, we can simply place it on the last line of a cell:</p>

In [13]:
# Print out the value of a variable in Jupyter Notebook Environment
x

324

<p>We can also perform operations on <code>x</code> and save the result to a new variable:</p>

In [14]:
# use another variable to store the result of the operation between variable and value
y = x / 8
y

40.5

<p>If we save a value to an existing variable, the new value will overwrite the previous value:</p>

In [15]:
# Overwrite variable with new value

x = x / 60
x

5.4

<p>It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:</p>

In [18]:
# Name the variables meaningfully
total_min = 39 + 33 + 55
total_min

127

In [19]:
total_hours = total_min / 60
total_hours

2.1166666666666667

<p>In the cells above we added the length of three albums in minutes and stored it in <code>total_min</code>. We then divided it by 60 to calculate total length <code>total_hours</code> in hours. You can also do it all at once in a single expression, as long as you use parenthesis to add the albums length before you divide, as shown below.</p>

In [20]:
# ComplicateD expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

<p>If you'd rather have total hours as an integer, you can of course replace the floating point division with integer division (i.e., <code>//</code>).</p>

### Exercise: Expressions in Python

Write an expression to add 30 and 20 and subtract 40:

In [26]:
30 + 20 - 40

10

Write an expression to subtract 5 from 55 and divide the result by 10:

In [27]:
(55 - 5) / 10

5.0

Write an expression to multiply 6 with 10 and divide the result by 12:

In [28]:
(6 * 10) / 12

5.0

### Exercise: Variables in Python

<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [29]:
x = 3 + 2 * 2
x

7

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [30]:
y = (3 + 2) * 2
y

10

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [31]:
z = x + y
z

17

****
This is the end of this file.
****