## About the Dataset

Imagine you received album recommendations from your friends and compiled all the recommendations into a table, with specific information about each album.

The table has one row for each movie and several columns:

*   **Artist** - Name of the artist
*   **Album** - Name of the album
*   **Released_year** - Year the album was released
*   **Length_min_sec** - Length of the album (hours,minutes,seconds)
*   **Genre** - Genre of the album
*   **Music_recording_sales_millions** - Music recording sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01)
*   **Claimed_sales_millions** - Album's claimed sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01)
*   **Released** - Date on which the album was released
*   **Soundtrack** - Indicates if the album is the movie soundtrack (Y) or (N)
*   **Rating_of_friends** - Indicates the rating from your friends from 1 to 10

<br>
<br>

The Dataset can be seen below:

<font size="1">
    <table font-size:xx-small>
        <thead>
        <tr>
            <th style="border: 1px solid; text-align: center">Artist</th>
            <th style="border: 1px solid; text-align: center">Album</th>
            <th style="border: 1px solid; text-align: center">Released</th>
            <th style="border: 1px solid; text-align: center">Length</th>
            <th style="border: 1px solid; text-align: center">Genre</th>
            <th style="border: 1px solid; text-align: center">Music recording sales (millions)</th>
            <th style="border: 1px solid; text-align: center">Claimed sales (millions)</th>
            <th style="border: 1px solid; text-align: center">Released</th>
            <th style="border: 1px solid; text-align: center">Soundtrack</th>
            <th style="border: 1px solid; text-align: center">Rating (friends)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="border: 1px solid; text-align: center">Michael Jackson</td>
            <td style="border: 1px solid; text-align: center">Thriller</td>
            <td style="border: 1px solid; text-align: center">1982</td>
            <td style="border: 1px solid; text-align: center">00:42:19</td>
            <td style="border: 1px solid; text-align: center">Pop, rock, R&B</td>
            <td style="border: 1px solid; text-align: center">46</td>
            <td style="border: 1px solid; text-align: center">65</td>
            <td style="border: 1px solid; text-align: center">30-Nov-82</td>
            <td style="border: 1px solid; text-align: center"></td>
            <td style="border: 1px solid; text-align: center">10.0</td>
        </tr>
        <tr>
            <td style="border: 1px solid; text-align: center">AC/DC</td>
            <td style="border: 1px solid; text-align: center">Back in Black</td>
            <td style="border: 1px solid; text-align: center">1980</td>
            <td style="border: 1px solid; text-align: center">00:42:11</td>
            <td style="border: 1px solid; text-align: center">Hard rock</td>
            <td style="border: 1px solid; text-align: center">26.1</td>
            <td style="border: 1px solid; text-align: center">50</td>
            <td style="border: 1px solid; text-align: center">25-Jul-80</td>
            <td style="border: 1px solid; text-align: center"></td>
            <td style="border: 1px solid; text-align: center">8.5</td>
        </tr>
        <tr>
            <td style="border: 1px solid; text-align: center">Pink Floyd</td>
            <td style="border: 1px solid; text-align: center">The Dark Side of the Moon</td>
            <td style="border: 1px solid; text-align: center">1973</td>
            <td style="border: 1px solid; text-align: center">00:42:49</td>
            <td style="border: 1px solid; text-align: center">Progressive rock</td>
            <td style="border: 1px solid; text-align: center">24.2</td>
            <td style="border: 1px solid; text-align: center">45</td>
            <td style="border: 1px solid; text-align: center">01-Mar-73</td>
            <td style="border: 1px solid; text-align: center"></td>
            <td style="border: 1px solid; text-align: center">9.5</td>
        </tr>
        <tr>
            <td style="border: 1px solid; text-align: center">Whitney Houston</td>
            <td style="border: 1px solid; text-align: center">The Bodyguard</td>
            <td style="border: 1px solid; text-align: center">1992</td>
            <td style="border: 1px solid; text-align: center">00:57:44</td>
            <td style="border: 1px solid; text-align: center">Soundtrack/R&B, soul, pop</td>
            <td style="border: 1px solid; text-align: center">26.1</td>
            <td style="border: 1px solid; text-align: center">50</td>
            <td style="border: 1px solid; text-align: center">25-Jul-80</td>
            <td style="border: 1px solid; text-align: center">Y</td>
            <td style="border: 1px solid; text-align: center">7.0</td>
        </tr>
        <tr>
            <td style="border: 1px solid; text-align: center">Meat Loaf</td>
            <td style="border: 1px solid; text-align: center">Bat Out of Hell</td>
            <td style="border: 1px solid; text-align: center">1977</td>
            <td style="border: 1px solid; text-align: center">00:46:33</td>
            <td style="border: 1px solid; text-align: center">Hard rock, progressive rock</td>
            <td style="border: 1px solid; text-align: center">20.6</td>
            <td style="border: 1px solid; text-align: center">43</td>
            <td style="border: 1px solid; text-align: center">21-Oct-77</td>
            <td style="border: 1px solid; text-align: center"></td>
            <td style="border: 1px solid; text-align: center">7.0</td>
        </tr>
        <tr>
            <td style="border: 1px solid; text-align: center">Eagles</td>
            <td style="border: 1px solid; text-align: center">Their Greatest Hits (1971-1975)</td>
            <td style="border: 1px solid; text-align: center">1976</td>
            <td style="border: 1px solid; text-align: center">00:43:08</td>
            <td style="border: 1px solid; text-align: center">Rock, soft rock, folk rock</td>
            <td style="border: 1px solid; text-align: center">32.2</td>
            <td style="border: 1px solid; text-align: center">42</td>
            <td style="border: 1px solid; text-align: center">17-Feb-76</td>
            <td style="border: 1px solid; text-align: center"></td>
            <td style="border: 1px solid; text-align: center">9.5</td>
        </tr>
        <tr>
            <td style="border: 1px solid; text-align: center">Bee Gees</td>
            <td style="border: 1px solid; text-align: center">Saturday Night Fever</td>
            <td style="border: 1px solid; text-align: center">1977</td>
            <td style="border: 1px solid; text-align: center">1:15:54</td>
            <td style="border: 1px solid; text-align: center">Disco</td>
            <td style="border: 1px solid; text-align: center">20.6</td>
            <td style="border: 1px solid; text-align: center">40</td>
            <td style="border: 1px solid; text-align: center">15-Nov-77</td>
            <td style="border: 1px solid; text-align: center">Y</td>
            <td style="border: 1px solid; text-align: center">9.0</td>
        </tr>
        <tr>
            <td style="border: 1px solid; text-align: center">Fleet wood Mac</td>
            <td style="border: 1px solid; text-align: center"> Rumours </td>
            <td style="border: 1px solid; text-align: center">1977</td>
            <td style="border: 1px solid; text-align: center">00:40:01</td>
            <td style="border: 1px solid; text-align: center">Soft rock</td>
            <td style="border: 1px solid; text-align: center">27.9</td>
            <td style="border: 1px solid; text-align: center">40</td>
            <td style="border: 1px solid; text-align: center">04-Feb-77</td>
            <td style="border: 1px solid; text-align: center"></td>
            <td style="border: 1px solid; text-align: center">9.5</td>
        </tr>
        </tbody>
    </table>
</font>

### Tuples

<p>In Python, there are different data types: String, Integer, and Float. These data types can all be contained in a tuple as follows:</p>

In [1]:
print(type("disco"))
print(type(5))
print(type(1.9))

<class 'str'>
<class 'int'>
<class 'float'>

<p>Now, let us create your first tuple with string, integer and float.</p>

In [2]:
tuple1 = ("disco", 5, 1.9)
tuple1

('disco', 5, 1.9)

<p>The type of variable is a <b>tuple</b>.</p>

In [3]:
type(tuple1)

tuple

### Indexing

<p>Each element of a tuple can be accessed via an index. The following table represents the relationship between the index and the items in the tuple. Each element can be obtained by the name of the tuple followed by a square bracket with the index number:</p>

<table style="border: 1px solid">
<thead>
<tr>
    <th style="border: 1px solid; text-align: center">Index</th>
    <th style="border: 1px solid; text-align: center">Element</th>
</tr>
</thead>
<tbody>
<tr>
    <td style="border: 1px solid; text-align: center">0</td>
    <td style="border: 1px solid; text-align: center">"disco"</td>
</tr>
<tr>
    <td style="border: 1px solid; text-align: center">1</td>
    <td style="border: 1px solid; text-align: center">5</td>
</tr>
<tr>
    <td style="border: 1px solid; text-align: center">2</td>
    <td style="border: 1px solid; text-align: center">1.9</td>
</tr>
</tbody>
</table>

<p>We can print out each value in the tuple:</p>

In [4]:
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
5
1.9

<p>We can print out the <b>type</b> of each value in the tuple:</p>

In [5]:
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

<p>We can also use negative indexing. We use the same table above with corresponding negative values:</p>

<table style="border: 1px solid">
<thead>
<tr>
    <th style="border: 1px solid; text-align: center">Positive Index</th>
    <th style="border: 1px solid; text-align: center">Negative Index</th>
    <th style="border: 1px solid; text-align: center">Element</th>
</tr>
</thead>
<tbody>
<tr>
    <td style="border: 1px solid; text-align: center">0</td>
    <td style="border: 1px solid; text-align: center">-3</td>
    <td style="border: 1px solid; text-align: center">"disco"</td>
</tr>
<tr>
    <td style="border: 1px solid; text-align: center">1</td>
    <td style="border: 1px solid; text-align: center">-2</td>
    <td style="border: 1px solid; text-align: center">5</td>
</tr>
<tr>
    <td style="border: 1px solid; text-align: center">2</td>
    <td style="border: 1px solid; text-align: center">-1</td>
    <td style="border: 1px solid; text-align: center">1.9</td>
</tr>
</tbody>
</table>

<p>We can obtain the last element as follows (this time we will not use the print statement to display the values):</p>

In [6]:
print(tuple1[-1])
print(tuple1[-2])
print(tuple1[-3])

1.9
5
disco

### Concatenate Tuples

<p>We can concatenate or combine tuples by using the <code>+</code> sign.</p>

In [7]:
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 5, 1.9, 'hard rock', 10)

### Slicing

<p>We can slice tuples, obtaining new tuples with the corresponding elements:</p>

In [8]:
tuple2[0:3]

('disco', 5, 1.9)

<p>We can obtain the last two elements of the tuple:</p>

In [9]:
tuple2[3:5]

('hard rock', 10)

<p>We can obtain the length of a tuple using the length command:</p>

In [10]:
len(tuple2)

5

### Sorting

<p>Consider the following tuple:</p>

In [11]:
Ratings = (0, 8, 5, 3, 4, 9, 7, 2, 9)
Ratings

(0, 8, 5, 3, 4, 9, 7, 2, 9)

<p>We can sort the values in a tuple and save it to a new tuple:</p>

In [12]:
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 3, 4, 5, 7, 8, 9, 9]

### Nested Tuple

<p>A tuple can contain another tuple as well as other more complex data types. This process is called "nesting". Consider the following tuple with several elements:</p>

In [13]:
NestedTuple = (1, 2, ("Rock", "Pop"), (5, 6), ("Disco", (8, 9)))
NestedTuple

(1, 2, ('Rock', 'Pop'), (5, 6), ('Disco', (8, 9)))

<p>Each element in the tuple, including other tuples, can be obtained via an index as shown in the figure:</p>

<table style="border: 1px solid">
<thead>
<tr>
    <th style="border: 1px solid; text-align: center">Positive Index</th>
    <th style="border: 1px solid; text-align: center">Element</th>
</tr>
</thead>
<tbody>
<tr>
    <td style="border: 1px solid; text-align: center">0</td>
    <td style="border: 1px solid; text-align: center">1</td>
</tr>
<tr>
    <td style="border: 1px solid; text-align: center">1</td>
    <td style="border: 1px solid; text-align: center">2</td>
</tr>
<tr>
    <td style="border: 1px solid; text-align: center">2</td>
    <td style="border: 1px solid; text-align: center">("Rock", "Pop")</td>
</tr>
<tr>
    <td style="border: 1px solid; text-align: center">3</td>
    <td style="border: 1px solid; text-align: center">(5, 6)</td>
</tr>
<tr>
    <td style="border: 1px solid; text-align: center">4</td>
    <td style="border: 1px solid; text-align: center">("Disco", (8, 9))</td>
</tr>
</tbody>
</table>

In [14]:
print("Element 0 of Tuple: ", NestedTuple[0])
print("Element 1 of Tuple: ", NestedTuple[1])
print("Element 2 of Tuple: ", NestedTuple[2])
print("Element 3 of Tuple: ", NestedTuple[3])
print("Element 4 of Tuple: ", NestedTuple[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('Rock', 'Pop')
Element 3 of Tuple:  (5, 6)
Element 4 of Tuple:  ('Disco', (8, 9))

<p>We can use the second index to access other tuples. For example:</p>

In [15]:
print("Element 2, 0 of Tuple: ", NestedTuple[2][0])
print("Element 2, 1 of Tuple: ", NestedTuple[2][1])
print("Element 3, 0 of Tuple: ", NestedTuple[3][0])
print("Element 3, 1 of Tuple: ", NestedTuple[3][1])
print("Element 4, 0 of Tuple: ", NestedTuple[4][0])
print("Element 4, 1 of Tuple: ", NestedTuple[4][1])

Element 2, 0 of Tuple:  Rock
Element 2, 1 of Tuple:  Pop
Element 3, 0 of Tuple:  5
Element 3, 1 of Tuple:  6
Element 4, 0 of Tuple:  Disco
Element 4, 1 of Tuple:  (8, 9)

<p>We can access strings in the second nested tuples using a third index:</p>

In [16]:
print(NestedTuple[2][1][0])
print(NestedTuple[2][1][1])

P
o

<p>Similarly, we can access elements nested deeper in the tree with a third index:</p>

In [17]:
print(NestedTuple[4][1][0])
print(NestedTuple[4][1][1])

8
9

### Quiz on Tuples

<p>Consider the following tuple:</p>

In [18]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", "R&B", "progressive rock", "disco")
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

<p>Find the length of the tuple, <code>genres_tuple</code>:</p>

In [19]:
len(genres_tuple)

8

<p>Access the element, with respect to index 3:</p>

In [20]:
genres_tuple[3]

'hard rock'

<p>Use slicing to obtain indexes 3, 4 and 5:</p>

In [21]:
genres_tuple[3: 6]

('hard rock', 'soft rock', 'R&B')

<p>Find the first two elements of the tuple <code>genres_tuple</code>:</p>

In [22]:
genres_tuple[0: 2]

('pop', 'rock')

<p>Find the index of "s" in <code>"disco"</code>:</p>

In [23]:
genres_tuple[-1].find("s")

2

<p>Generate a sorted List from the Tuple <code>C_tuple = (-5, 1, -3)</code>:</p>

In [24]:
C_tuple = (-5, 1, -3)
print(C_tuple)
Sorted_C_tuple = sorted(C_tuple)
print(Sorted_C_tuple)

(-5, 1, -3)
[-5, -3, 1]

****
This is the end of the file.
****