### Importing Required Libraries

In [1]:
import os
import numpy as np
import pandas as pd

### Exercise 1

<p>Extract the required GDP data from the given URL using Web Scraping.</p>

In [2]:
url = "https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

<p>You can use Pandas library to extract the required table directly as a DataFrame. Note that the required table is the third one on the website, as shown in the image below.</p>

<img src="./data/pic_mainly_for_md/pandas_wbs_3.png" />

In [3]:
tables = pd.read_html(url)
df = tables[3]
df.columns = range(df.shape[1])
df = df [[0, 2]]
df = df.iloc[1: 11, :]
df.columns = ["Country", "GDP (Million USD)"]
df

           Country GDP (Million USD)
1    United States          26854599
2            China          19373586
3            Japan           4409738
4          Germany           4308854
5            India           3736882
6   United Kingdom           3158938
7           France           2923489
8            Italy           2169745
9           Canada           2089672
10          Brazil           2081235

### Exercise 2

<p>Modify the GDP column of the DataFrame, converting the value available in "Million USD" to "Billion USD". Use the <code>round()</code> method of Numpy library to round the value to 2 decimal places. Modify the header of the DataFrame to <code>GDP (Billion USD)</code>.</p>

In [4]:
df["GDP (Million USD)"] = df["GDP (Million USD)"].astype(int)
df[["GDP (Million USD)"]] = np.round(df[["GDP (Million USD)"]] / 1000, 2)
df.rename(columns={"GDP (Million USD)": "GDP (Billion USD)"}, inplace=True)
df

           Country  GDP (Billion USD)
1    United States           26854.60
2            China           19373.59
3            Japan            4409.74
4          Germany            4308.85
5            India            3736.88
6   United Kingdom            3158.94
7           France            2923.49
8            Italy            2169.74
9           Canada            2089.67
10          Brazil            2081.24

### Exercise 3

<p>Load the DataFrame to the CSV file named "Largest_economies.csv".</p>

In [5]:
dir_path = os.path.join(".", "data")
csv_name = os.path.join(dir_path, "Largest_economies.csv")
df.to_csv(csv_name)

****
This is the end of the file.
****